ALERT_EMAIL_FROM=llosizacharias@gmail.com	
ALERT_EMAIL_TO=llosizacharias@gmail.com
ALERT_EMAIL_PASSWORD=fohr hzch lmsy xbxd
TELEGRAM_BOT_TOKEN=8702694334:AAGheMUQu1Me5kUZkgZfniGXc5v7iOzttCc
TELEGRAM_CHAT_ID=5490303141
SCHED_HOUR=6
SCHED_MINUTE=0
TZ=America/Sao_Paulo
